@import "tailwindcss";

*{
  font-family: sans-serif , serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
 body{
  margin: 0;            /* Removes default margins */
  padding: 0;           /* Removes default padding */
  font-family: Arial, sans-serif; /* Sets a font family */
  background-color: #f4f4f4; /* Sets the background color */
 }

 hr{
  color: #acacac;
 }
