@import "tailwindcss";

@font-face{
  font-family: Estedad;
  font-display: swap;
  src:
    url("../fonts/estedad/Estedad.woff2") format("woff2") ,
    url("../fonts/estedad/Estedad.ttf") format("ttf");
}

@theme {
  --font-estedad: "Estedad", sans-serif; 
}

*{
  @apply font-estedad
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
 body{
  margin: 0;            /* Removes default margins */
  padding: 0;           /* Removes default padding */
  font-family: Arial, sans-serif; /* Sets a font family */
  background-color: #9ed5f511; /* Sets the background color */
 }

 hr{
  color: #acacac;
 }
